<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
 xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BabyName | Minha Lista</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini dark-mode">
    <div class="wrapper">
        <!-- Navbar -->
        <div th:replace="~{fragments/navegador :: navegador}">...</div>

        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
       <div th:replace="~{fragments/menu :: menu}" >...</div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Minha Lista de Nomes</h1>
                        </div>

                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>


            <div class="card" >
                <h2 th:if="${#lists.isEmpty(nomesRankeados)}">Sem nome adicionado!</h2>
                <!-- /.card-header -->
                <div class="card-body p-0 " th:if="${not #lists.isEmpty(nomesRankeados)}">
                   
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="width: 10px">Ranking</th>
                                <th>Nome</th>
                                <th>Informações</th>
                                <th>Alterar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="nomeRankeados : ${nomesRankeados}">
                                <td th:text="${nomeRankeados.rank}"></td>
                                <td th:text="${nomeRankeados.nomeEscolhido.nome}">Joao</td>
                                <td> <a th:href="@{/Nomes/SobreNome/{id}(id=${nomeRankeados.nomeEscolhido.id})}">Saber Mais</a></td>
                                <td>
                                  <a th:href="@{/Nomes/DescerNome/{rank}(rank=${nomeRankeados.rank})}"class="dark-mode btn"> <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                  <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                   </svg>
                                   </a>
                                    <a th:href="@{/Nomes/SubirNome/{rank}(rank=${nomeRankeados.rank})}"class="dark-mode btn">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                            <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                       </svg>
                                     </a>
    
                                     <a th:href="@{/Nomes/DeletarNome/{id}(id=${nomeRankeados.rank})}" class="dark-mode btn"> 
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                       <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                       <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                     </svg>
                                    </a>
                                
                               </td>
            
                            </tr>
                     
                                                      
                        </tbody>
                    </table>

                </div>
                <!-- /.card-body -->
                
            </div>
            <a href="/Usuario/ListaMatch"><button type="button" class="btn  bg-gradient-primary ">Finalizar</button></a>
            <a href="/Nomes/NomeProprio"><button type="button" class="btn bg-gradient-primary float-right">Adicionar</button></a>
        
        </div>
        <!-- /.car  d -->

    </div>



    <!-- /.card-body -->
    </div>
    <!-- /.card -->
    </div>
    </div>



    <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <div th:replace="~{fragments/footer :: footer}">...</div>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>

</body>

</html>